In [2]:
%pylab inline
import sys
import pandas
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [3]:
data = pandas.read_csv("/Users/alejandro/Documents/binary-tree/Ejem_newick.csv",sep=';')
dim = np.shape(data)
lev = dim[1]-1
sp = dim[0]

In [4]:
#this build the Newick format
def convertor(lista):
    cadena = '('+','.join(map(str,lista))+')'
    return cadena
#def joint(lista)

In [5]:
data=data[0:17]
data['Binary format:']=('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q')
data

,Binary format:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,a,1,1,0,1,0,0,0,0,1,1,1,1,1,1
1,b,1,1,0,1,0,0,0,0,1,1,1,1,1,1
2,c,0,1,0,1,0,0,0,0,1,1,1,1,1,1
3,d,0,1,0,1,0,0,0,0,1,1,1,1,1,1
4,e,0,1,0,1,0,0,0,0,1,1,1,1,1,1
5,f,0,0,1,1,0,0,0,0,1,1,1,1,1,1
6,g,0,0,1,1,0,0,0,0,1,1,1,1,1,1
7,h,0,0,1,1,0,0,0,0,1,1,1,1,1,1
8,i,0,0,0,0,1,0,1,1,1,1,1,1,1,1
9,j,0,0,0,0,1,0,1,1,1,1,1,1,1,1
10,k,0,0,0,0,0,1,1,1,1,1,1,1,1,1
11,l,0,0,0,0,0,1,1,1,1,1,1,1,1,1
12,m,0,0,0,0,0,0,0,1,1,1,1,1,1,1
13,n,0,0,0,0,0,0,0,0,0,0,1,1,1,1
14,o,0,0,0,0,0,0,0,0,0,0,0,1,1,1
15,p,0,0,0,0,0,0,0,0,0,0,0,0,1,1
16,q,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [181]:
L = []

for i in range(5):
    x = []
    if i==0:
        l = list(data[data[data.columns[i+1]]==1][data.columns[0]])
        L.append(convertor(l))
    if i>0:
        l = list(data[(data[data.columns[i+1]]==1) & (data[data.columns[i]]==0)][data.columns[0]])
        set1=data[data[data.columns[i]]==1][data.columns[0]]
        set2=data[data[data.columns[i+1]]==1][data.columns[0]]
        if True in set(set2.isin(set1)):
            for i in range(len(l)):
                L.append(l[i])
            #print L
                                
        else:
            L.append(convertor(l))
        L2=[convertor(L)]
        L=L2
print L[0]

(((((a,b),c,d,e),(f,g,h)),a,b,c,d,e),(i,j))

In [6]:
ABCDE1=pandas.DataFrame()
#((((A,B),C),D),E)
ABCDE1['species']=['A','B','C','D','E']
ABCDE1['node1']=[1,1,0,0,0]
ABCDE1['node2']=[1,1,1,0,0]
ABCDE1['node3']=[1,1,1,1,0]
ABCDE1['node4']=[1,1,1,1,1]

ABCDE2=pandas.DataFrame()
#(((A,B),(C,D)),E)
ABCDE2['species']=['A','B','C','D','E']
ABCDE2['node1']=[1,1,0,0,0]
ABCDE2['node2']=[1,1,1,1,0]
ABCDE2['node3']=[1,1,1,1,1]

ABCDEF1=pandas.DataFrame()
#(((A,B,C),(D,E)),F)
ABCDEF1['species']=['A','B','C','D','E','F']
ABCDEF1['node1']=[0,0,0,1,1,0]
ABCDEF1['node2']=[1,1,1,0,0,0]
ABCDEF1['node3']=[1,1,1,1,1,0]
ABCDEF1['node4']=[1,1,1,1,1,1]

ABCDEF2=pandas.DataFrame()
#((((A,B),C),D),(E,F))
ABCDEF2['species']=['A','B','C','D','E','F']
ABCDEF2['node1']=[1,1,0,0,0,0]
ABCDEF2['node2']=[0,0,0,0,1,1]
ABCDEF2['node3']=[1,1,1,0,0,0]
ABCDEF2['node4']=[1,1,1,1,0,0]
ABCDEF2['node5']=[1,1,1,1,1,1]

In [7]:
ABCDE1

  species  node1  node2  node3  node4
0       A      1      1      1      1
1       B      1      1      1      1
2       C      0      1      1      1
3       D      0      0      1      1
4       E      0      0      0      1

In [8]:
ABCDE2

  species  node1  node2  node3
0       A      1      1      1
1       B      1      1      1
2       C      0      1      1
3       D      0      1      1
4       E      0      0      1

In [9]:
ABCDEF2

  species  node1  node2  node3  node4  node5
0       A      1      0      1      1      1
1       B      1      0      1      1      1
2       C      0      0      1      1      1
3       D      0      0      0      1      1
4       E      0      1      0      0      1
5       F      0      1      0      0      1

In [21]:
i=1
BiMatrix=ABCDEF2
set(BiMatrix[BiMatrix.iloc[0:,i]==1].iloc[0:,0]).union(set(BiMatrix[BiMatrix.iloc[0:,i+1]==1].iloc[0:,0]))

{'A', 'B', 'E', 'F'}

In [25]:
# para elementos sueltos
def FreeElements(BiMatrix):
    elements=set(BiMatrix[BiMatrix.iloc[0:,len(BiMatrix.columns)-1]==1].iloc[0:,0])
    for i in range(1,len(BiMatrix.columns)-1):
        elements=elements.difference(set(BiMatrix[BiMatrix.iloc[0:,i]==1].iloc[0:,0]))
        set(BiMatrix[BiMatrix.iloc[0:,i]==1].iloc[0:,0]).union(set(BiMatrix[BiMatrix.iloc[0:,i+1]==1].iloc[0:,0]))
    return list(elements)

In [23]:
L

[]

In [13]:
#this shows the intersections
intersections=[]
for i in range(1,len(BiMatrix.columns)-2)[::-1]:
    if set(BiMatrix[BiMatrix.iloc[0:,i]==1].iloc[0:,0]).issubset(set(BiMatrix[BiMatrix.iloc[0:,len(BiMatrix.columns)-2]==1].iloc[0:,0])):
        intersections.append(i)

In [14]:
intersections

[3, 1]

In [98]:
def NewickConstructor(matrix):
    if intersection(matrix)==0:
        return ((L,K),(M,N),E,R,T)
    else:
        return NewickConstructor(matrix.iloc[,])

True

In [18]:

BiMatrix[-BiMatrix.].iloc[:,:-1]

  species  node1  node2  node3  node4
0       A      1      0      1      1
1       B      1      0      1      1
2       C      0      0      1      1
3       D      0      0      0      1
4       E      0      1      0      0
5       F      0      1      0      0

In [24]:
BiMatrix

  species  node1  node2  node3  node4  node5
0       A      1      0      1      1      1
1       B      1      0      1      1      1
2       C      0      0      1      1      1
3       D      0      0      0      1      1
4       E      0      1      0      0      1
5       F      0      1      0      0      1

In [ ]:
#PARA LA MATRIZ SIMPLE, TENEMOS QUE ENCONTRAR LOS ELEMENTOS SUELTOS Y PONER LOS CONJUNTOS DE LAS COLUMNAS COMO ELEMENTOS
def  SimpleMatrix(matrix):
     L=FreeElements(matrix)
    for i in range(1,len(matrix.columns)-1):
        list(matrix[matrix[matrix.columns[i+1]]==1][matrix.columns[0]])